@import url('https://fonts.googleapis.com/css2?family=Alata&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
}

.outer-wrapper{
  width: 100vw;
}

.wrapper{
  width: 80vw;
  max-width: 1250px;
  margin: 0px auto;
}

.highlight-blue{
  color: #5DA9F6;
}

.big-button{
  padding: 13px 23px;
  border-radius: 15px;
  border: none;
  background-color: #031F67 !important;
  color: white;
  border: 2px solid #031F67;
}

.big-button:hover{
  background-color: white !important;
  color: #031F67;
  cursor: pointer;
}

.big-button-white{
  padding: 13px 23px;
  border-radius: 15px;
  border: none;
  color: #031F67 !important;
  border: 2px solid white;
}

.big-button-white:hover{
  background-color: #031F67;
  color: white !important;
  cursor: pointer;
}

.button-small-white{
  padding: 4px 19px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border-radius: 20px;
  color: #031F67 !important;
  font-weight: normal;
  border: 1px solid white;
}

.button-small-white:hover{
  background-color: #031F67;
  color: white !important;
}

.button-small-blue{
  padding: 4px 19px;
  background-color: #031F67;
  border-radius: 20px;
  color: white !important;
  font-weight: normal;
  border: 1px solid #031F67;
}

.button-small-blue:hover{
  background-color: white !important;
  color: #031F67 !important;
}

.section{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.full-width{
  width: 100%;
}

.column50{
  width: 48%;
}

.column66{
  width: 60%;
}

.column33{
  width: 30%;
  padding: 20px;
  border-radius: 40px;
  min-width: 250px;
  margin-bottom: 40px;
}

.column33 *{
  margin-left: 20px;
}

.blue{
  background-color: #031F67;
  color: white;
}

.white{
  background-color: white;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #031F67;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(44, 43, 43);
  font-weight: 400;
  margin-top: 0px;
  font-size: 20px;
}

h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #031F67;
    font-weight: 500;
    margin-top: 50px;
}

p{
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.profile-picture-container{
  display: flex;
  justify-content: center;
}

.profile-picture{
  width: 60%;
  border-radius: 200px;
  margin: auto;
}

.column33-title{
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.column33-listing{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: block;
}
.column33-listing:hover {
  text-decoration: underline;
}

.code-segment{
  padding: 20px;
  background-color: #031F67;
  color: white;
  border-radius: 20px;
  margin-bottom: 0px;
}

.code-segment p{
  margin: 0px;
  margin-bottom: 2px;
}

.code-explanation{
  margin-top: 5px;
  color: #525763;
  font-size: 14px;
}

.indented{
  text-indent: 2em;
}