body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
}

.outer-wrapper{
  width: 100vw;
}

.wrapper{
  width: 80vw;
  max-width: 1250px;
  margin: 0px auto;
}

.highlight-blue{
  color: #5DA9F6;
}

.button-small-white{
  padding: 5px 20px;
  background-color: white;
  border-radius: 20px;
  color: #031F67 !important;
  font-weight: normal;
}

.section{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.column50{
  width: 48%;
}