body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
}

.outer-wrapper{
  width: 100vw;
}

.wrapper{
  width: 90vw;
  max-width: 1250px;
  margin: 0px auto;
}